h1:active
{
	color:red;
}

body
{
		
		background-image: url("../images/emoticon.png");
    		background-attachment: fixed;
	    	background-position: 50% 190px;
		background-repeat: no-repeat;
		background-origin: border-box;
		
		
		
}