#akapit1
{font-size:30px;
color:red;}

#akapit2
{font-size:30px;
color:red;}


@media only screen and (max-width: 500px) {
    #columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -o-column-count: 1;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -o-column-count: 2;
    }
}


@media only screen and (min-width:1001px) {
    #columns {
        margin: 60px;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        -o-column-count: 3;
    }
}