body{
}

section{
	margin: 1em;
	width: 30%;
	float: left;
}

#font1{
	font-family: 'Open Sans Condensed', sans-serif;
}

#font2{
	font-family: 'Indie Flower', cursive;
}

#font3{
	font-family: 'Josefin Sans', sans-serif;
}

#wally{
	position: absolute;
	left: -1em;
	top: 2em;
	z-index: 0;
	-webkit-transition: all 3s;
}

h1{
	font-size: 5em;
	text-align: center;
}

#rodzicKrasnali{
	display: flex;
	justify-content: space-around;
}

#enano4{
	display: none;
}

#hide{
	position: relative;
	z-index: 1;
	margin-left: auto ;
  	margin-right: auto ;
	background-position: center;
	width: 100%;
	height: 12em;
	border-radius: 10px;
	background-color: hsl(200, 15%, 70%);
}

#par{
	position: relative;
	z-index: 0;
	margin-left: auto ;
  	margin-right: auto ;
	background-position: center;
	width: 80%;
	height: 12em;
}

#light-background{
	z-index: 1;
	position: relative;
	border-radius: 10px;
	margin-top: 1em;
	background-position: center;
	width: 80%;
	height: 50em;
	background-color: rgba(255,255,255,0.3);
	margin-left: auto ;
  	margin-right: auto ;
  	background: radial-gradient(rgba(255,255,255,0.01), hsla(200, 15%, 70%, 0.3), hsla(200, 30%, 70%, 0.6));
}

#colors{
	margin: 0.5em;
	padding: 0.5em;
	background-color: white;
	width: 40%;
	display: flex;
	justify-content: space-around;
}

#yellowl{
	width: 2em;
	height: 2em;
	background-color: #FFEB9D;
}

#bluel{
	width: 2em;
	height: 2em;
	background-color: #B8DCFD;
}

#greenl{
	width: 2em;
	height: 2em;
	background-color: #D1E8C8;
}

#yellowd{
	width: 2em;
	height: 2em;
	background-color: #F2C305;
}

#blued{
	width: 2em;
	height: 2em;
	background-color: #526684;
}

#greend{
	width: 2em;
	height: 2em;
	background-color: #54694B;
}

#bluel:hover, #greenl:hover, #yellowd:hover, #blued:hover, #greend:hover{
	opacity: 0.5;
}

#bluel:active, #greenl:active, #yellowd:active, #blued:active, #greend:active{
	border-style: solid;
	border-color: blue;
	border-width: 3px;
}

#enano1, #enano2, #enano3, #enano4{
	-webkit-transition: all 6s;
}

#circle{
	position: absolute;
	border-radius: 40px;
	left: 0;
	top: 0;
	height: 40px;
	width: 40px;
	background-color: green;
	-webkit-transition: all 1s; 
}