body{
}

#light-background{
	position: relative;
	border-radius: 10px;
	margin-top: 1em;
	background-position: center;
	width: 80%;
	height: 20em;
	background-color: rgba(255,255,255,0.3);
	margin-left: auto ;
  	margin-right: auto ;
  	background: radial-gradient(rgba(255,255,255,0.01), hsla(200, 15%, 70%, 0.3), hsla(200, 30%, 70%, 0.6));
}

#colors{
	margin: 0.5em;
	padding: 0.5em;
	background-color: white;
	width: 40%;
	display: flex;
	justify-content: space-around;
}

#yellowl{
	width: 2em;
	height: 2em;
	background-color: #FFEB9D;
}

#bluel{
	width: 2em;
	height: 2em;
	background-color: #B8DCFD;
}

#greenl{
	width: 2em;
	height: 2em;
	background-color: #D1E8C8;
}

#yellowd{
	width: 2em;
	height: 2em;
	background-color: #F2C305;
}

#blued{
	width: 2em;
	height: 2em;
	background-color: #526684;
}

#greend{
	width: 2em;
	height: 2em;
	background-color: #54694B;
}

#bluel:hover, #greenl:hover, #yellowd:hover, #blued:hover, #greend:hover{
	opacity: 0.5;
}

#bluel:active, #greenl:active, #yellowd:active, #blued:active, #greend:active{
	border-style: solid;
	border-color: blue;
	border-width: 3px;
}

#circle{
	position: absolute;
	border-radius: 40px;
	left: 0;
	top: 0;
	height: 40px;
	width: 40px;
	background-color: green;
	-webkit-transition: all 1s; 
}