
body{
	background-image: url("../images/tlo1.png");
	font-family: 'Alegreya Sans', sans-serif;
}

#light-background{
	position: relative;
	margin-top: 1em;
	background-position: center;
	width: 80%;
	background-color: rgba(255,255,255,0.3);
	margin-left: auto ;
  	margin-right: auto ;
  	background: radial-gradient(rgba(255,255,255,0.1), hsla(200, 15%, 70%, 0.3), hsla(200, 30%, 70%, 0.6)); /* Standard syntax */
}

#enano{
	opacity: 0.1;
	transition: opacity 2s;
	float: right;
}

#enano:hover{
	opacity: 1;
}

#katedra, #ratusz, #most{
	transition: opacity 2s, transform 2s;
	float: right;
	clear:right;
	margin: 2em
}

#katedra:hover, #ratusz:hover, #most:hover{
	opacity: 0.4;
	transform: rotate(7deg);
}

section{
	padding-left: 4em;
}

#banner{
	position: relative;
	background-position: center;
	width: 75%;
	padding-top: 10em;
	/*background-color: rgba(0,0,0,0.3);*/
	background-image: url("../images/wro.jpg");
	opacity: 0.6;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto ;
  	margin-right: auto ;
  	border: 2em solid transparent;
  	border-image-source: url(../images/kre3.png);
  	border-image-slice: 110;
  	border-image-repeat: repeat;; 
}

nav{
	font-size: 1em;
	width: 100%;
	text-align: center;
  	background-image: linear-gradient(to right, rgba(255,0,0,0), hsla(200, 30%, 70%, 0.8));
  	/*display: flex;  or inline-flex */
  	display: -webkit-box; display: -moz-box; display: box; -webkit-box-pack: center; -moz-box-align: center; box-align: center; }
	nav ul { display: -webkit-box; display: -moz-box; display: box; width: 100%; }
	nav ul li { padding: 2px 5px; background-color: grey; text-align: center; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-transition: width 0.5s ease-out; -moz-transition: 0.5s; min-width: 100px; border-right: 1px solid ccc; }
	nav ul li:first-of-type { margin-left: 0; }
	nav ul li:last-of-type { margin-right: 0; border-right: none; }
	nav ul li a { text-decoration: none; color: white; font-size: 2em; }
	nav ul li:hover { width: 200px; background-color: rgba(0,0,0,0.3); 
}

ul{
	list-style-type:none;
}

a{
	text-decoration: none;
}

a:link {
    color: #2C3336;
}

a:visited {
    color: #3B494E;
}

a:hover {
    color: #455C64;
}

a:active {
    color: #3B494E;
}

#contact{
	position: relative;
	top: 10%;
	right: 10%;
	text-align: right;
	padding-top: 5%;
	float: right;
}

#wro{
	font-family: 'Indie Flower', cursive;
	font-size: 5em;
	text-shadow: 0.05em 0.05em #9F9F9F;
	padding-left: 5%;
}

#wro2{
	font-family: 'Indie Flower', cursive;
	font-style: italic;
	font-size: 3em;
	text-align: right;
	text-shadow: 0.05em 0.05em #9F9F9F;
	padding-right: 5%;
}



#small_table{
	border-collapse: collapse;
	background-color: #f1f1c1;
}

th, td {
		padding: 5px;   
}