
body{
	background-image: url("../images/tlo1.png");
	font-family: 'Alegreya Sans', sans-serif;
}

section{
	clear: left;
}

#light-background{
	position: relative;
	border-radius: 10px;
	margin-top: 1em;
	background-position: center;
	width: 80%;
	background-color: rgba(255,255,255,0.3);
	margin-left: auto ;
  	margin-right: auto ;
  	background: radial-gradient(rgba(255,255,255,0.1), hsla(200, 15%, 70%, 0.3), hsla(200, 30%, 70%, 0.6)); /* Standard syntax */
}

#enano{
	position: fixed;
	bottom: 2em; 
    right: 1em;
	opacity: 0.1;
	transition: opacity 2s;
	float: right;
}

#enano:hover{
	opacity: 1;
}

#katedra, #ratusz, #most{
	transition: opacity 2s, transform 2s;
	float: right;
	clear:right;
	margin: 2em;
	border: 1px solid black;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#katedra:hover, #ratusz:hover, #most:hover{
	opacity: 0.4;
	transform: rotate(7deg);
}

section{
	padding-left: 4em;
}

#banner{
	position: relative;
	background-position: center;
	width: 75%;
	padding-top: 12em;
	/*background-color: rgba(0,0,0,0.3);*/
	background-image: url("../images/wro.jpg");
	opacity: 0.6;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto ;
  	margin-right: auto ;
  	border: 2em solid transparent;
  	border-image-source: url(../images/kre3.png);
  	border-image-slice: 110;
  	border-image-repeat: repeat;
}

.enanos {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

.enanos ul{
	display: -webkit-box; display: box; width: 100%;
}

.enanos ul li { padding: 2px 5px; background-color: hsla(200, 30%, 70%, 0.2); text-align: center; -webkit-box-flex: 1; box-flex: 1; min-width: 100px; border-right: 1px solid rgba(0,0,0,0.3); }

@media all and (max-width: 850px) {
  .enanos {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

@media all and (max-width: 550px) {
  .enanos {
    flex-direction: column;
  }
}

nav{
	padding: 0.2em;
	font-size: 0.8em;
	border-radius: 10px;
  	background-image: linear-gradient(to right, rgba(255,0,0,0), hsla(200, 30%, 70%, 0.8));
  	/*display: flex;  or inline-flex */
  	display: box; box-align: center; 
 }

nav ul {display: -webkit-box; display: box; width: 100%; }
nav ul li { padding: 2px 5px; background-color: hsla(200, 30%, 70%, 0.2); text-align: center; -webkit-box-flex: 1; box-flex: 1; min-width: 100px; border-right: 1px solid rgba(0,0,0,0.3); }
nav ul li:first-of-type { margin-left: 0; }
nav ul li:last-of-type { margin-right: 0; border-right: none; }
nav ul li a { text-decoration: none; font-size: 2em; }
nav ul li:hover { width: 20em; background-color: hsla(200, 30%, 90%, 0.2); }

ul{
	list-style-type:none;
	-webkit-padding-start: 0;
}

a{
	text-decoration: none;
}

a:link {
    color: #2C3336;
}

a:visited {
    color: #3B494E;
}

a:hover {
    color: #455C64;
}

a:active {
    color: #3B494E;
}

h2{
	font-family: 'Indie Flower', cursive;
	text-align: right;
	margin-right: 5%;
}

#contact{
	background-color: rgba(255,255,255,0.5);
	padding: 1em;
	top: 10%;
	right: 10%;
	text-align: right;
	float: right;
	margin-right: 2em;
}

#wro{
	font-family: 'Indie Flower', cursive;
	font-size: 5em;
	text-shadow: 0.05em 0.05em hsla(200, 30%, 70%, 0.8);
	padding-left: 5%;
}

#wro2{
	font-family: 'Indie Flower', cursive;
	font-style: italic;
	font-size: 3em;
	text-align: right;
	text-shadow: 0.05em 0.05em hsla(200, 30%, 70%, 0.8);
	padding-right: 5%;
}



#small_table{
	border-collapse: collapse;
	background-color: #f1f1c1;
}

th, td {
		padding: 5px;   
}